.faq-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem;
  padding: 2rem;
}

.faq-title {
  font-size: 2.5rem;
  font-weight: bold;
}

.faq-subtitle {
  font-family: "DM Sans";
  font-weight: 500;
}

.faq-acc {
  margin-top: 3rem;
  width: 100% !important;
  max-width: 800px;
  border: none !important;
  font-size: 1rem;
  letter-spacing: 0.3s;
}

.faq-item {
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  padding-bottom: 0.5rem;
}

.faq-acc .accordion-button::after {
  content: '\+';
  font-size: large;
  font-weight: bold;
  background-image: none;
  position: absolute;
  right: 1.25rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.faq-acc .accordion-button:not(.collapsed)::after {
  content: '\-';
  font-size: large;
  font-weight: bold !important;
  background-image: none;
  position: absolute;
  right: 1.25rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.faq-acc .accordion-button {
  background-color: white !important;
  font-size: 1.2rem;
  font-weight: 500 !important;
  color: black !important;
}

.faq-ans {
  text-align: left !important;
}