.App {
  text-align: center;
  width: 100%;
  overflow: hidden;
  font-family: Syne, sans-serif;
}

body {
  overflow-y: scroll;
  /* overflow: hidden; */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  width: 0;
  display: none; /* For Chrome, Safari, and Edge */
}

